@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(10, 10, 10);
}

.hide-scroll-bar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scroll-bar::-webkit-scrollbar {
  display: none;
}

/* SWIPER */

.swiper-button-prev {
  display: none !important;
}

.swiper-button-next {
  color: #fff !important;
  border: 3px solid #fff !important;
  width: 80px !important;
  height: 80px !important;
  border-radius: 50% !important;
}

.swiper-pagination {
  display: flex !important;
  margin-left: 80px !important;
}

.swiper-pagination-bullet-active {
  background-color: #fff !important;
}

@media only screen and (max-width: 640px) {
  .swiper-button-next {
    width: 70px !important;
    height: 70px !important;
  }

  .swiper-pagination {
    margin-left: 32px !important;
  }
}
